### macOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresen

# Cloned repos and other junk
vim/.vim/pack/git-plugins/
fish/.config/fish/completions/alacritty.fish
fish/.config/fish/fish_variables
fish/.config/fish/functions/br.fish
nvim/.config/nvim/plugin/
fish/.config/fish/functions/_nvm*.fish
xinitrc/
nvim/.config/nvim/spell/
gh/.config/gh/hosts.yml
